---
layout: default
---

<div class="home">  
    <div class="posts">
      {% assign pages = site.pages | sort: "weight" %}
      {% for page in pages  %}{% if page.show_on contains "front" %}
        <div class="post py3">
          <p class="post-meta">{{ page.date | date: site.date_format }}</p>
          <a href="{{ page.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ page.title }}</h3></a>
          <p class="post-summary">
            {% if page.summary %}
              {{ page.summary }}
            {% else %}
              {{ page.excerpt }}
            {% endif %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="post-link">&hellip;</a>
          </p>          
        </div>
      {% endif %}{% endfor %}
    </div>
</div>
