.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  background-color: $header-bg-color;
  border-bottom: $header-border-bottom;
}

.site-header, .site-header * {
  color: $header-color;
}

.site-header a {
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h1;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: $header-color;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $header-color;
  opacity: 1;
  border-bottom: 2px solid $header-color;;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
